.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.avatar-name-container {
	display: flex;
	align-items: center;
	width: 65%;
	margin: 2.5% 0;
	.name {
		width: 50%;
		padding-left: 10%;
	}
	.avatar {
		display: flex;
		width: 50%;
		height: 200px;
		padding-left: 10%;
		> img {
			display: flex;
			border-radius: 50%;
			border: 0px;
		}
	}
}

.contact{
	display: flex;
	flex-direction: column;
	width: 35%;
	> div {
		display: flex;
		align-items: center;
		font-size: 18px;
	}
}

.info {
	display: inline-block;
}

.grid-container{
	display: grid;
	grid-template-rows: repeat(2, 1fr) 2fr;
	grid-template-columns: 10rem 10rem 10rem auto;
	
	grid-template-areas:
		"a a b b"
		"a a d  .  "
		" .   .  c c"
}

.cell-a{  grid-area: a; }
.cell-b{ grid-area: b; }
.cell-c{ grid-area: c; }
.cell-d{ grid-area: d; }




/* other style */
.cell{
	font-size: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(75 143 245 / 20%);
	border-radius: 20px;
}

*{
	box-sizing: border-box;
}

.grid-container{
	width: 100%;
	height: 100%;
	gap: 5px;
	&, > div{
	}
}

hr {
	background-color: black;
	border: 2px solid black;
	margin: 30px 0;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  margin-right: 10px;
}
/* order & gap */

